name: Bitget Auto Scan

on:
  schedule:
    - cron: '0 2 * * *' # 每天台灣時間 10:00 自動執行
  workflow_dispatch:      # 允許你手動按鈕執行

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        run: python main.py
